credoai-connect>=0.1.2
fairlearn>=0.7.0
matplotlib>=3.0
requests>=2.25.1
scikit-learn>=0.24
scipy>=1.7.3
statsmodels>=0.13.5
typing_extensions>=4.3.0

# required for SurvivalAnalysis evaluator
lifelines>=0.27.3 

# required for reporting
ydata-profiling >= 4.0.0

# required for ShapExplainer evaluator
shap>=0.41.0

# required for RankingFairness evaluator
finsfairauditing>=0.0.2

