# Required for notebooks
jupyterlab
ipywidgets>=7.6.5

# required for modules.model_modules.nlp_generator.NLPGeneratorAnalyzer
joblib>=0.14.1
sentence-transformers>=2.1.0
transformers>=4.0.0
google-api-python-client>=1.12.8

# for dev
pytest>=6.2.5
