tensorflow-macos==2.10.0; sys_platform == 'darwin'
tensorflow==2.11.1; sys_platform != 'darwin'

# required for Privacy and Security evaluators
adversarial-robustness-toolbox>=1.10.1
torch>=1.12.1

# required for Deepchecks evaluator
deepchecks>=0.9.1

# required for SurvivalAnalysis evaluator
lifelines>=0.27.3 
